/* @import 'pure/all'; */
 
@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url(http://weloveiconfonts.com/api/?family=entypo);

body, html, .pure-g-r{
  height: 100%;
  //overflow: hidden;
}

a{
  text-decoration: none;
}
body,
.pure-g [class *= "pure-u"],
.pure-g-r [class *= "pure-u"] {
    /* Set your content font stack here: */
    font-family: 'Open Sans', sans-serif;
}

/* entypo */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}

.button-facebook{
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  background: rgb(59, 89, 152);
}
.form-center-input input, 
.form-center-input submit {
  margin: 0 auto 1em auto !important;
  display: block !important;
}

.form-center-input button {
  margin: 0 auto 0 auto !important;
  display: block !important;
}
.cur-user{
  //position: relative;
  float: right;
}
.logo-frame {
  background-image: image-url("cloud.png");
  background-repeat: no-repeat;
  width: 291px;
  height: 140px;
  margin: 0.5em auto 0.5em auto;
  color: white;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  text-align: center;
  font-size: 200%;
  line-height: 140px;
}

.h-menu {
  //text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  background: #87decd !important;
}

.h-menu a {
  color: white !important;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.h-menu a:focus:not(.pure-menu-heading), .h-menu a:hover:not(.pure-menu-heading) {
  background: #77cebd !important;
}

.notes-grid{
  height: 100%;
  overflow-y: auto;
}

.notes-field{
  width: 85%;
  display: block;
  margin: 0.5em auto 0.5em auto;
}

.notes-field .pure-button{
  margin: 0 auto 0 auto;
  display: block;
}

.notes-list{
  width: 100%;
  display: block;
  background: #77cebd;
  margin: 0.25em auto 0.25em auto;
  color: white;
  padding: 0.5em;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;
}

.note-form{
  width: 100%;
  margin: 0.25em auto 0.25em auto;
}
.note-form input, .note-form textarea{
  margin: 0.25em;
  width: 95%;
  padding: 0;
  border-width: 2px;
}
.note-form textarea{
  height: 300px;
}