/* @import 'pure/all'; */
 
@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url(http://weloveiconfonts.com/api/?family=entypo);

body,
.pure-g [class *= "pure-u"],
.pure-g-r [class *= "pure-u"] {
    /* Set your content font stack here: */
    font-family: 'Open Sans', sans-serif;
}

/* entypo */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}

.button-facebook{
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  background: rgb(59, 89, 152);
}
.form-center-input input, 
.form-center-input submit {
  margin: 0 auto 1em auto !important;
  display: block !important;
}

.form-center-input button {
  margin: 0 auto 0 auto !important;
  display: block !important;
}

.logo-frame {
  background-image: image-url("cloud.png");
  background-repeat: no-repeat;
  width: 291px;
  height: 140px;
  margin: 1em auto 0.5em auto;
  color: white;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  text-align: center;
  font-size: 200%;
  line-height: 140px;
}

.h-menu {
  //text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  background: #87decd !important;
}

.h-menu a {
  color: white !important;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.h-menu a:focus:not(.pure-menu-heading), .h-menu a:hover:not(.pure-menu-heading) {
  background: #77cebd !important;
}

.notes-field{
  width: 85%;
  display: block;
  margin: 0.5em auto 0.5em auto;
}

.notes-field .pure-button{
  margin: 0 auto 0 auto;
  display: block;
}
